body {
	/*background-color: #eee !important;*/
}

.tengah{
	text-align: center;
}
.kanan{
	text-align: right;
}
.readonly{
	background-color: rgb(240,240,240);
}
.kepala{
	background-color: #EEE;
	padding: 5px 50px 5px 50px;
}
.badan{
	padding-top: 10px;
}
.lebihkecil{
	font-size: small
}
.akun{
	margin-top: 20px;
}

/* table
----------------------------------------------- */
table.form {
	/*width:100%;*/
}

table.form td {
	padding:4px 7px;
	border: 1px solid #CCCCCC;
}
table.form label {
	/*font-weight:bold;*/
}

table.form .col1{width:22%;}
table.form .col2{}
table.form input, table.form select{

	padding: 4px 4px 5px 4px;


	border-top: 1px solid #b3b3b3;
	border-left: 1px solid #b3b3b3;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;

}